.side-forgotpassword{
    background-image: url("../../../public/images/storage.jpg");
    background-repeat: no-repeat;
    height: 360px;
    width: 100%;
}
.forgotpassword-title{
    color: red;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.forgotpassword-title-b{
    color: white;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.forgotpassword-page{
    background-color: lightyellow;
}
.btn-success{
    margin: 5px;
}
.heading{
    color: darkgray;
    font-family: cursive;
}
.forgotpassword-heading{
    font-family: cursive;
}
.label{
    font-weight: 700;
}